mixin brand-page()
    .brand-page&attributes(attributes)= name
        .brand-page__list
            .brand-page__list-item
                p.brand-page__symbol 1
                .brand-page__wrapper
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/evalar.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/phst.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/bayer.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/berlin-chemi.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/evalar.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/evalar.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/phst.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/bayer.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/berlin-chemi.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/evalar.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
            .brand-page__list-item
                p.brand-page__symbol A
                .brand-page__wrapper
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/evalar.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/phst.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/bayer.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/berlin-chemi.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/evalar.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
            .brand-page__list-item
                p.brand-page__symbol Z
                .brand-page__wrapper
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/evalar.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/phst.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/bayer.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/berlin-chemi.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/evalar.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/evalar.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/phst.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/bayer.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/berlin-chemi.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/evalar.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
            .brand-page__list-item
                p.brand-page__symbol Я
                .brand-page__wrapper
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/evalar.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/phst.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/bayer.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/berlin-chemi.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15
                    .brand-tale
                        .brand-tale__image
                            a(href="javascript:void(0)")
                                img(src=require("../image/evalar.png"))
                        p.brand-tale__name
                            a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                        p.brand-tale__count-good Товаров: 15

