mixin category()
    // Категории
    .category&attributes(attributes)= name
        .category__tale
            a(href="javascript:void(0)")
                .category__tale-content
                    img(src=require("../image/svg/medicine.svg"))
                    p Лекарства
        .category__tale
            a(href="javascript:void(0)")
                .category__tale-content
                    img(src=require("../image/svg/bad.svg"))
                    p Бады
        .category__tale
            a(href="javascript:void(0)")
                .category__tale-content
                    img(src=require("../image/svg/mother_and_child.svg"))
                    p Мама и малыш
        .category__tale
            a(href="javascript:void(0)")
                .category__tale-content
                    img(src=require("../image/svg/hygiene.svg"))
                    p Гигиена и красота
        .category__tale
            a(href="javascript:void(0)")
                .category__tale-content
                    img(src=require("../image/svg/sport.svg"))
                    p Питание и спорт
        .category__tale
            a(href="javascript:void(0)")
                .category__tale-content
                    img(src=require("../image/svg/medizdely.svg"))
                    p Медизделия
                        br
                        | и приборы
        .category__tale
            a(href="javascript:void(0)")
                .category__tale-content
                    img(src=require("../image/svg/optics.svg"))
                    p Оптика
        .category__tale
            a(href="javascript:void(0)")
                .category__tale-content
                    img(src=require("../image/svg/actions.svg"))
                    p Акции
    //
