mixin actions()
    .actions&attributes(attributes)= name
        .actions__row
            .actions__tale
                p.actions__title: a(href="javascript:void(0)") Купи сейчас - плати потом!
                .actions__image
                    img(src=require('../image/actions-1.jpg'))
                .actions__introtext
                    p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                p.actions__stock Акция действует до 27 мая 2016 г.
                a(href="javascript:void(0)").actions__more Подробнее
            .actions__tale
                p.actions__title: a(href="javascript:void(0)") Купи сейчас - плати потом!
                .actions__image
                    img(src=require('../image/actions-1.jpg'))
                .actions__introtext
                    p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                p.actions__stock Акция действует до 27 мая 2016 г.
                a(href="javascript:void(0)").actions__more Подробнее
        .actions__row
            .actions__tale
                p.actions__title: a(href="javascript:void(0)") Купи сейчас - плати потом!
                .actions__image
                    img(src=require('../image/actions-2.jpg'))
                .actions__introtext
                    p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                p.actions__stock Акция действует до 27 мая 2016 г.
                a(href="javascript:void(0)").actions__more Подробнее
            .actions__tale
                p.actions__title: a(href="javascript:void(0)") Купи сейчас - плати потом!
                .actions__image
                    img(src=require('../image/actions-1.jpg'))
                .actions__introtext
                    p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                p.actions__stock Акция действует до 27 мая 2016 г.
                a(href="javascript:void(0)").actions__more Подробнее
        .actions__row
            .actions__tale
                p.actions__title: a(href="javascript:void(0)") Купи сейчас - плати потом!
                .actions__image
                    img(src=require('../image/actions-2.jpg'))
                .actions__introtext
                    p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                p.actions__stock Акция действует до 27 мая 2016 г.
                a(href="javascript:void(0)").actions__more Подробнее
            .actions__tale
                p.actions__title: a(href="javascript:void(0)") Купи сейчас - плати потом!
                .actions__image
                    img(src=require('../image/actions-1.jpg'))
                .actions__introtext
                    p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                p.actions__stock Акция действует до 27 мая 2016 г.
                a(href="javascript:void(0)").actions__more Подробнее
