mixin license()
    .license
        .license__list
            .license__tale
                a(href=require('../image/license.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/license.jpg'))
            .license__tale
                a(href=require('../image/license.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/license.jpg'))
            .license__tale
                a(href=require('../image/license.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/license.jpg'))
            .license__tale
                a(href=require('../image/license.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/license.jpg'))
            .license__tale
                a(href=require('../image/license.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/license.jpg'))
            .license__tale
                a(href=require('../image/license.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/license.jpg'))
            .license__tale
                a(href=require('../image/license.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/license.jpg'))
            .license__tale
                a(href=require('../image/license.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/license.jpg'))
            .license__tale
                a(href=require('../image/license.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/license.jpg'))
            .license__tale
                a(href=require('../image/license.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/license.jpg'))
            .license__tale
                a(href=require('../image/license.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/license.jpg'))
            .license__tale
                a(href=require('../image/license.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/license.jpg'))
            .license__tale
                a(href=require('../image/license.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/license.jpg'))
            .license__tale
                a(href=require('../image/license.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/license.jpg'))