mixin brand-catalog()
    .brand-catalog&attributes(attributes)= name
        p.section-title Каталог по брендам
        a(href="javascript:void(0)").section-link Все бренды
        .brand-catalog__list
            .brand-tale
                .brand-tale__image
                    a(href="javascript:void(0)")
                        img(src=require("../image/evalar.png"))
                p.brand-tale__name
                    a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                p.brand-tale__count-good Товаров: 15
            .brand-tale
                .brand-tale__image
                    a(href="javascript:void(0)")
                        img(src=require("../image/phst.png"))
                p.brand-tale__name
                    a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                p.brand-tale__count-good Товаров: 15
            .brand-tale
                .brand-tale__image
                    a(href="javascript:void(0)")
                        img(src=require("../image/bayer.png"))
                p.brand-tale__name
                    a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                p.brand-tale__count-good Товаров: 15
            .brand-tale
                .brand-tale__image
                    a(href="javascript:void(0)")
                        img(src=require("../image/berlin-chemi.png"))
                p.brand-tale__name
                    a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                p.brand-tale__count-good Товаров: 15
            .brand-tale
                .brand-tale__image
                    a(href="javascript:void(0)")
                        img(src=require("../image/evalar.png"))
                p.brand-tale__name
                    a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                p.brand-tale__count-good Товаров: 15
            .brand-tale
                .brand-tale__image
                    a(href="javascript:void(0)")
                        img(src=require("../image/evalar.png"))
                p.brand-tale__name
                    a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                p.brand-tale__count-good Товаров: 15
            .brand-tale
                .brand-tale__image
                    a(href="javascript:void(0)")
                        img(src=require("../image/phst.png"))
                p.brand-tale__name
                    a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                p.brand-tale__count-good Товаров: 15
            .brand-tale
                .brand-tale__image
                    a(href="javascript:void(0)")
                        img(src=require("../image/bayer.png"))
                p.brand-tale__name
                    a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                p.brand-tale__count-good Товаров: 15
            .brand-tale
                .brand-tale__image
                    a(href="javascript:void(0)")
                        img(src=require("../image/berlin-chemi.png"))
                p.brand-tale__name
                    a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                p.brand-tale__count-good Товаров: 15
            .brand-tale
                .brand-tale__image
                    a(href="javascript:void(0)")
                        img(src=require("../image/evalar.png"))
                p.brand-tale__name
                    a(href="javascript:void(0)") Фармацевтическое предприятие "Эвалар"
                p.brand-tale__count-good Товаров: 15
