mixin action-one()
    .action-one&attributes(attributes)= name
        .action-one__wrapper
            .action-one__inner
                .action-one__left-part
                    p.action-one__title Купи сейча - плати потом !
                    .action-one__full-text
                        p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
                            | Интернет-аптека работает круглосуточно, поэтому наши клиенты имеют возможность уточнить список имеющихся препаратов с определенным действующим веществом, сравнить цены, проверить наличие лекарств в сетевых аптеках области и недорого заказать с доставкой на дом качественные товары фармацевтической отрасли в любое время суток. Главная ночная служба Eapteka.ru функционирует без перебоев.
                            | Интуитивно понятная система поиска и сравнения позволяет найти требуемое торговое наименование, узнать в справочной его рейтинг, уточнить, сколько оно стоит и продается ли без рецепта,за считанные секунды. Если лекарство нужно привезти срочно, вы можете воспользоваться услугой городской экспресс-доставки, которая
                    p.action-one__stock Акция действует до 27 мая 2016 г.
                .action-one__right-part
                    img(src=require('../image/action-big.jpg'))
        .action-one__goods
            p.action-one__goods-title Товары по акции
            a(href="javascript:void(0)").action-one__goods-all Все товары по акции
                .action-one__goods-list
                    .card-tale.action-one__card-tale
                        .card-tale__inner
                            .card-tale__inner-type-action
                                .flag.best-price
                                    span Лучшая цена
                                .flag.hit
                                    span Хит продаж
                                .flag.action
                                    span Акция
                            .card-tale__inner-image
                                a(href="javascript:void(0)")
                                    img(src=require("../image/imodium.png"))
                            .card-tale__rating
                                img(src=require("../image/svg/star-full.svg"))
                                img(src=require("../image/svg/star-full.svg"))
                                img(src=require("../image/svg/star-full.svg"))
                                img(src=require("../image/svg/star-empty.svg"))
                                img(src=require("../image/svg/star-empty.svg"))
                            .card-tale__description
                                a(href="javascript:void(0)").card-tale__description-name Алфавит в сезон простуд n60 таблеток
                                span.card-tale__description-manufacturer OOO Внешторг Фарма, Россия
                            .card-tale__prices
                                .card-tale__prices-current
                                    p 2 300
                                        =' '
                                        span р.
                                .card-tale__prices-old
                                    p 5300 р.
                                    p.economy
                                        span 1300
                                        =' '
                                        | Экономия
                            .card-tale__order
                                .card-tale__order-count
                                    button.card-tale__order-decrement -
                                    input(type="text" value="1")
                                    button.card-tale__order-increment +
                                .card-tale__order-button
                                    input(type="submit" value="Купить").button-green
                            .card-tale__one-click
                                a(href="javascript:void(0)") Купить в 1 клик
                    .card-tale.action-one__card-tale
                        .card-tale__inner
                            .card-tale__inner-type-action
                                .flag.best-price
                                    span Лучшая цена
                                .flag.hit
                                    span Хит продаж
                                .flag.action
                                    span Акция
                            .card-tale__inner-image
                                a(href="javascript:void(0)")
                                    img(src=require("../image/imodium.png"))
                            .card-tale__rating
                                img(src=require("../image/svg/star-full.svg"))
                                img(src=require("../image/svg/star-full.svg"))
                                img(src=require("../image/svg/star-full.svg"))
                                img(src=require("../image/svg/star-empty.svg"))
                                img(src=require("../image/svg/star-empty.svg"))
                            .card-tale__description
                                a(href="javascript:void(0)").card-tale__description-name Алфавит в сезон простуд n60 таблеток
                                span.card-tale__description-manufacturer OOO Внешторг Фарма, Россия
                            .card-tale__prices
                                .card-tale__prices-current
                                    p 2 300
                                        =' '
                                        span р.
                                .card-tale__prices-old
                                    p 5300 р.
                                    p.economy
                                        span 1300
                                        =' '
                                        | Экономия
                            .card-tale__order
                                .card-tale__order-count
                                    button.card-tale__order-decrement -
                                    input(type="text" value="1")
                                    button.card-tale__order-increment +
                                .card-tale__order-button
                                    input(type="submit" value="Купить").button-green
                            .card-tale__one-click
                                a(href="javascript:void(0)") Купить в 1 клик
                    .card-tale.action-one__card-tale
                        .card-tale__inner
                            .card-tale__inner-type-action
                                .flag.best-price
                                    span Лучшая цена
                                .flag.hit
                                    span Хит продаж
                                .flag.action
                                    span Акция
                            .card-tale__inner-image
                                a(href="javascript:void(0)")
                                    img(src=require("../image/imodium.png"))
                            .card-tale__rating
                                img(src=require("../image/svg/star-full.svg"))
                                img(src=require("../image/svg/star-full.svg"))
                                img(src=require("../image/svg/star-full.svg"))
                                img(src=require("../image/svg/star-empty.svg"))
                                img(src=require("../image/svg/star-empty.svg"))
                            .card-tale__description
                                a(href="javascript:void(0)").card-tale__description-name Алфавит в сезон простуд n60 таблеток
                                span.card-tale__description-manufacturer OOO Внешторг Фарма, Россия
                            .card-tale__prices
                                .card-tale__prices-current
                                    p 2 300
                                        =' '
                                        span р.
                                .card-tale__prices-old
                                    p 5300 р.
                                    p.economy
                                        span 1300
                                        =' '
                                        | Экономия
                            .card-tale__order
                                .card-tale__order-count
                                    button.card-tale__order-decrement -
                                    input(type="text" value="1")
                                    button.card-tale__order-increment +
                                .card-tale__order-button
                                    input(type="submit" value="Купить").button-green
                            .card-tale__one-click
                                a(href="javascript:void(0)") Купить в 1 клик
                    .card-tale.action-one__card-tale
                        .card-tale__inner
                            .card-tale__inner-type-action
                                .flag.best-price
                                    span Лучшая цена
                                .flag.hit
                                    span Хит продаж
                                .flag.action
                                    span Акция
                            .card-tale__inner-image
                                a(href="javascript:void(0)")
                                    img(src=require("../image/imodium.png"))
                            .card-tale__rating
                                img(src=require("../image/svg/star-full.svg"))
                                img(src=require("../image/svg/star-full.svg"))
                                img(src=require("../image/svg/star-full.svg"))
                                img(src=require("../image/svg/star-empty.svg"))
                                img(src=require("../image/svg/star-empty.svg"))
                            .card-tale__description
                                a(href="javascript:void(0)").card-tale__description-name Алфавит в сезон простуд n60 таблеток
                                span.card-tale__description-manufacturer OOO Внешторг Фарма, Россия
                            .card-tale__prices
                                .card-tale__prices-current
                                    p 2 300
                                        =' '
                                        span р.
                                .card-tale__prices-old
                                    p 5300 р.
                                    p.economy
                                        span 1300
                                        =' '
                                        | Экономия
                            .card-tale__order
                                .card-tale__order-count
                                    button.card-tale__order-decrement -
                                    input(type="text" value="1")
                                    button.card-tale__order-increment +
                                .card-tale__order-button
                                    input(type="submit" value="Купить").button-green
                            .card-tale__one-click
                                a(href="javascript:void(0)") Купить в 1 клик