mixin about-company-gallery()
    .about-company-gallery&attributes(attributes)= name
        .about-company-gallery__text
            h2 Подзаголовок
            p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
            p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
            h2 Подзаголовок
            p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
            p Пользуясь услугами нашей компании, вы можете купить в Москве оптом и в розницу товары для красоты и здоровья, а также лекарственные препараты по самым низким ценам. При этом иметь купоны на скидку и знать секретные промо коды совсем не обязательно — мы всегда предлагаем низкие цены и выгодные условия.
        .about-company-gallery__album
            .about-company-gallery__album-tale
                a(href=require('../image/about.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/about.jpg'))
            .about-company-gallery__album-tale
                a(href=require('../image/about.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/about.jpg'))
            .about-company-gallery__album-tale
                a(href=require('../image/about.jpg') rel="gallery").js-fancybox
                    img(src=require('../image/about.jpg'))